@model Event

@{
    ViewData["Title"] = Model.Name; // Set the page title to the event title
}

<style>
    #text {
        color: white;
    }
</style>

<div class="game-detail-container" id="text">
    <h1>@Model.Name</h1>
    <div class="event-info">
        <p><strong>Date:</strong> @Model.Date</p>
        <p><strong>Address:</strong> @Model.Address</p>
        <p><strong>Country:</strong> @Model.Country</p>
        <p><strong>City:</strong> @Model.City</p>
        <p><strong>Province:</strong> @Model.Province</p>
        <p><strong>Postal Code:</strong> @Model.PostalCode</p>
        <p><strong>Description:</strong> @Model.Description</p>
    </div>
    <div class="back-button">
        <a href="@Url.Action("Index", "Events")" class="btn btn-primary">Back to Events List</a>
    </div>
</div>
}
