@model IEnumerable<Event>

@{
    ViewData["Title"] = "Events";
}

@if (Model != null)
{
    @foreach (var Event in Model)
    {
        <div class="container mt-5" id="EventCard">
            <div class="card">
                <h5 class="card-header">@Event.Name</h5>
                <div class="card-body">
                    <h5 class="card-title">@Event.Date</h5>
                    <p class="card-text">@Event.Address, @Event.City, @Event.Province, @Event.Country, @Event.PostalCode</p>
                    <p class="card-text">@Event.Description</p>
                    <a asp-action="AddRegisteredEvent" asp-route-id="@Event.EventId" class="btn btn-success">
                        <i class="fas fa-plus"></i> Register For Event
                    </a>
                </div>
            </div>
        </div>
    }
}