@model Game

@{
    ViewData["Title"] = Model.Title; // Set the page title to the game title
}

<style>
    #text {
        color: white;
    }
</style>

<div class="game-detail-container" id="text">
    <h1>@Model.Title</h1>
    <div class="game-image">
        <img src="@Model.CoverImageURL" alt="@Model.Title" />
    </div>
    <div class="game-info">
        <p><strong>Genere:</strong> @Model.Genere</p>
        <p><strong>Release Date:</strong> @Model.ReleaseDate.ToString("MMMM dd, yyyy")</p>
        <p><strong>Description:</strong> @Model.Description</p>
        <p><strong>Platform:</strong> @Model.Platform</p>
        <p><strong>Price:</strong> $@Model.Price</p>
    </div>
    <div>
        <a href="@Url.Action("WishlistToBeAdded", "Wishlists", new { gameId = Model.GameId })" class="btn btn-success">
            <i class="fas fa-plus"></i> Add to Wishlist
        </a>
    </div>
    <div class="back-button">
        <a href="@Url.Action("Index", "Games")" class="btn btn-primary">Back to Games List</a>
    </div>
</div>
