@model ConestogaVirtualGameStore.ViewModels.GameDetailViewModel

@{
    ViewData["Title"] = Model.Title; // Set the page title to the game title
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    #text, #gameRecommendations {
        color: white;
    }
    #text
    {
        text-align: center;
    }
    .checked {
        color: orange;
    }

    #reviewTitle {
        color: white;
    }

    h5, p {
        color: white;
    }
</style>

<div class="card" style="background-color: #2c2c2c;">
    <div class="col-md-12 mb-3" id="text">
        <div class="card-body" style="background-color: #2c2c2c; border: 1px solid white;">
            <h1>@Model.Title</h1>
            <div id="overallRating">
                <h5>Average Rating: @Model.AverageRating/5</h5>
            </div>
            <div class="game-image">
                <img style="width: 500px; height: 600px;" src="@Model.Game.CoverImageURL" alt="@Model.Title" />
            </div>
            <p><strong>Genre:</strong> @Model.Game.Genere</p>
            <p><strong>Release Date:</strong> @Model.Game.ReleaseDate.ToString("MMMM dd, yyyy")</p>
            <p><strong>Description:</strong> @Model.Game.Description</p>
            <p><strong>Platform:</strong> @Model.Game.Platform</p>
            <p><strong>Price:</strong> $@Model.Game.Price</p>
            <div>
                @if (User.IsInRole("Member") && Model.IsBought == false)
                {
                    <a href="@Url.Action("AddGameToCart", "Cart", new { gameId = Model.Game.GameId })" class="btn btn-success me-2">
                        <i class="fas fa-plus"></i> Add to Cart
                    </a>
                    <a href="@Url.Action("WishlistToBeAdded", "Wishlists", new { gameId = Model.Game.GameId })" class="btn btn-success">
                        <i class="fas fa-plus"></i> Add to Wishlist
                    </a>
                }
                @if (User.IsInRole("Member") && Model.IsBought == true)
                {
                    <a href="@Url.Action("DownloadGame", "Games", new { gameId = Model.Game.GameId })" class="btn btn-success">
                        <i class="fas fa-plus"></i> Download Game
                    </a>
                }
            </div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mt-3">Back to Main Page</a>
            <a href="@Url.Action("Index", "Games")" class="btn btn-primary mt-3">Go to Games List</a>
        </div>

        <div class="card-body" style="background-color: #2c2c2c; border: 1px solid white;">
            <div id="gameRecommendations">
                <h3>Game Recommendations</h3>
                <div class="container mt-5" id="GameCard">
                    <div class="row">
                        @if (Model != null)
                            @foreach (var game in Model.GameRecommendations)
                            {
                                <div class="col-md-3 mb-3" style="color:#212545">
                                    <a href="@Url.Action("GameDetail", "Games", new { id = game.GameId })" class="card-link" style="color:floralwhite; text-decoration: none;">
                                        <div class="card h-100 game-card">
                                            <img src="@game.CoverImageURL" class="card-img-top" alt="@game.Title" style="height: 400px; object-fit: cover;" />
                                            <div class="card-body" style="background-color: #780000;">
                                                <h5 class="card-title">@game.Title</h5>
                                                <p class="card-text">
                                                    @if (game.Description.Length > 100)
                                                    {
                                                        @(game.Description.Substring(0, 100) + "...")
                                                        <a href="@Url.Action("GameDetail", "Games", new { id = game.GameId })"> See More </a>
                                                    }
                                                    else
                                                    {
                                                        @game.Description
                                                        <a href="@Url.Action("GameDetail", "Games", new { id = game.GameId })"> See More </a>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body" style="background-color: #2c2c2c; border: 1px solid white;">
            <div id="gameReviews">
                <h3>Game Reviews</h3>
                <div class="container mt-5" id="GameCard">
                    <div class="row">
                        @if (User.IsInRole("Member") && Model.IsBought == true && Model.HasBeenReviewed == false)
                        {
                            <a href="@Url.Action("AddGameReview", "Games", new { gameId = Model.Game.GameId })" class="btn btn-success">
                                <i class="fas fa-plus"></i> Add Game Review
                            </a>
                        }
                        @if (User.IsInRole("Member") && Model.IsBought == true && Model.HasBeenReviewed == true)
                        {
                        }
                        @if (Model.GameReviews != null)
                        {
                            @foreach (var gameReview in Model.GameReviews)
                            {
                                @if (gameReview.Status == "Processed")
                                {
                                    <div class="container mt-5" style="color:#212545;" id="reviewCard">
                                    <div class="card" style="background-color: #780000;">
                                            <h5 class="card-header" style="border-right: 0; border: 1px solid white; text-align: left;">@gameReview.Member.FirstName @gameReview.Member.LastName: @gameReview.ReviewTitle <br /> @gameReview.ReviewRating/5</h5>
                                        <div class="card-body" style="background-color: #780000; border: 1px solid white;">
                                            <p class="card-text" style="text-align: left">@gameReview.ReviewDescription</p>
                                            @if (gameReview.Member_ID == Model.Member_ID)
                                            {
                                                <a asp-action="DeleteReview" asp-route-id="@gameReview.Review_ID" asp-route-gameId-="@gameReview.Game_ID" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Delete Review
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
