@model IEnumerable<MemberRelationship>

@{
    ViewData["Title"] = "Family";
}

<div class="container mt-5">
    <div class="row">
        <div>
            <a asp-action="AddFamily" class="btn btn-success mt-3 mb-5">
                <i class="bi bi-person-plus-fill"></i> Add Family Member
            </a>
        </div>
        @if (Model != null)
            @foreach (var memberRelationship in Model)
            {
                <div class="col-md-3 mb-3" style="color:#212545">
                    <a asp-action="FamilyMember" asp-route-familyId="@memberRelationship.MemberAdded_ID"  class="card-link" style="color:floralwhite; text-decoration: none;">
                        <div class="card h-100 game-card">
                            <div class="card-body" style="background-color: #780000;">
                                <h5 class="card-title">@memberRelationship.MemberAdded.FirstName @memberRelationship.MemberAdded.LastName</h5>
                                <p class="card-text">
                                    <strong>Preferred Language:</strong> @(!string.IsNullOrEmpty(memberRelationship.MemberAdded.PreferredLanguage) ? memberRelationship.MemberAdded.PreferredLanguage : "Not set yet")<br />
                                    <strong>Preferred Platform:</strong> @(!string.IsNullOrEmpty(memberRelationship.MemberAdded.PreferredPlatform) ? memberRelationship.MemberAdded.PreferredPlatform : "Not set yet")<br />
                                    <strong>Preferred Category:</strong> @(!string.IsNullOrEmpty(memberRelationship.MemberAdded.PreferredCategory) ? memberRelationship.MemberAdded.PreferredCategory : "Not set yet")
                                </p>
                                <a asp-action="DeleteFamily" asp-route-id="@memberRelationship.MemberRelationshipId" class="btn btn-sm btn-danger mt-3">
                                    <i class="bi bi-person-x-fill"></i> Remove from Family
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            }
    </div>

    <div>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</div>
